.country{
    border: 2px solid rgb(71, 227, 255);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.visited{
    background-color: rgb(105, 204, 207);
    color: black;
}